body{
  overflow: hidden;

}
.cont{
  overflow: hidden;
  background-image: url(Assets/images/img.svg);
  background-size:cover;
  width: 40%;
  height: 120vh;
  /* margin: -0.5em -1em; */
  margin-top: -4rem;
  margin-left:-2rem;
}
.cont1{
  margin-left: 8rem;
}